<!doctype html>

<html lang="en">
<head>
    <title>Bogey</title>
    
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta http-equiv="X-UA-Compatible" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>

        .alert{
            color: green;
            padding-right: 1rem;
            border-radius: 5px;
            margin: 100px;
        }

    </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{url_for('appfunc')}}">Home</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('customization')}}">Customization</a>
          <a class="nav-link" href="#">Docs</a>
          <a class="nav-link" href="#">Other Resources</a>
        </div>
      </div>
    </div>
  </nav>
    <div class="container">    
        <img src="/static/images/icon.jpg"/>
        
    </div>

    <!--Form-->

    <div class="container">
        <form action="/send" method="POST">

          <label for="Project Name">Project Name</label>
          <input
            type="text"
            class="u-full-width"
            name="Project Name"
            placeholder="Project Name"
          />


          <label for="Creativity">Creativity</label>
          <input
            type="text"
            class="u-full-width"
            name="Creativity"
            placeholder="Score (Out of 10)"
          />
  
          <label for="Appearance">Appearance</label>
          <input
            type="text"
            class="u-full-width"
            name="Appearance"
            placeholder="Score (Out of 10)"
          />
  
          <!--label for="Operation">Operation</label>
          <select class="u-full-width" name="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
          </select--->
          <label for="Complexity">Complexity</label>
          <input
            type="text"
            class="u-full-width"
            name="Complexity"
            placeholder="Score (Out of 10)"
          />

          <label for="Efficiency">Efficiency</label>
          <input
            type="text"
            class="u-full-width"
            name="Efficiency"
            placeholder="Score (Out of 10)"
          />

          <label for="Execution">Execution</label>
          <input
            type="text"
            class="u-full-width"
            name="Execution"
            placeholder="Score (Out of 10)"
          />



          <input type="submit" value="Calculate" id="calc_btn" />
          
          <br />
          <div class="alert" style="text-align:center;">
            {{ sum }}
          </div>
        </form>

        <form action="/rank" method="POST">
          <input type="submit" value="Rank" id="rank_btn" />
        </form>




      </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>